<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585662037512-aglguvf4dvgfb3l6hju1jsp8qmgainbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585662037512-aglguvf4dvgfb3l6hju1jsp8qmgainbc</string>
	<key>API_KEY</key>
	<string>AIzaSyC3G7jouoRsgg8bBIq6Db5vLVhQaoiZ1Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>585662037512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VladimirBrejcha.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchatapp-f82be</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatapp-f82be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585662037512:ios:31206e7e3a65219d</string>
	<key>DATABASE_URL</key>
	<string>https://flashchatapp-f82be.firebaseio.com</string>
</dict>
</plist>